[submodule "SHA-Intrinsics"]
	path = SHA-Intrinsics
	url = https://github.com/noloader/SHA-Intrinsics.git
[submodule "mx3"]
	path = mx3
	url = https://github.com/jonmaiga/mx3.git
[submodule "prvhash"]
	path = prvhash
	url = https://github.com/avaneev/prvhash.git
[submodule "hash-garage"]
	path = hash-garage
	url = https://github.com/gzm55/hash-garage.git
[submodule "komihash"]
	path = komihash
	url = https://github.com/avaneev/komihash.git
[submodule "k-hashv"]
	path = k-hashv
	url = https://github.com/Keith-Cancel/k-hashv.git
[submodule "polymur-hash"]
	path = polymur-hash
	url = https://github.com/orlp/polymur-hash.git
